  <!-- section about us -->
  
<<<<<<< HEAD
  <div data-role="page" class="about-us" id="about-us">

    <div class="content">
      <img class="iphone21" src="/assets/2iphone1.png">
      <img class="iphone2" src="/assets/2iphone.png">
      <img class="photo1" src="/assets/photo1.png">
      <img class="photo2" src="/assets/photo2.png">
      <img class="photo3" src="/assets/photo3.png">
      <img class="photo4" src="/assets/photo4.png">
    </div>
    <div class="copycontainer" >
      <p>
        Share your pictures and show your followers<br/>
        and friends where the fun is
      </p>
    </div>
  
  </div>
  
  <div class="clear"></div>  
=======
  <section class="about-us" id="about-us" onload="document.getElementById('photo1').style.-webkit-animation = 'show 1s'">

  <div class="content">
  	<img class="iphone21" src="/assets/2iphone1.png">
  	<img class="iphone2" src="/assets/2iphone.png">
  	<img class="photo1" src="/assets/photo1.png">
  	<img class="photo2" src="/assets/photo2.png">
  	<img class="photo3" src="/assets/photo3.png">
  	<img class="photo4" src="/assets/photo4.png">
  </div>
  <div class="copycontainer" >
    <p>
      Share your pictures and show your followers<br/>
      and friends where the fun is
    </p>
  </div>
  
  </section>
  
  <div class="clear"></div>  
>>>>>>> 41c770150b21ee4e39450e310c973d309e644d23
