  <!-- portoflio-->

  	<section class="portfolio" id="portfolio">
  		<div class="content">
  			<div class="col-md-3"></div>
  			<div class="icons col-md-6" >
  				<img class="followicon" src="/assets/followicon.png">
  				<img class="likeicon" src="/assets/likeicon.png">
  				<img class="commenticon" src="/assets/commenticon.png">
  				<img class="reposticon" src="/assets/reposticon.png">
  			</div>  	
  			<div class="col-md-3"></div>
  		</div>
  		<img class="iphone3" src="/assets/3iphone.png">
  		<img class="message3" src="/assets/3message.png">  	



  		
  	</section>

  
   <div class="clear"></div>  